<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-sm-6 col-md-4">
            <div class="card mt-5">
                <div class="card-body">
                    <h2 class="card-title text-center">Recuperação de Senha</h2>
                    <p class="text-center">Preencha os campos para recuperar sua senha.</p>
                    <hr />

                    <div *ngIf="mensagem" class="alert alert-secondary alert-dismissible fade show" role="alert">
                        <strong>{{mensagem}}</strong>
                        <button type="button" class="btn-close" aria-label="Close" (click)="mensagem = ''">
                        </button>
                    </div>

                    <form [formGroup]="formRecuperarSenha" (ngSubmit)="onSubmit()">

                        <div class="form-group mb-2">
                            <label for="email">Informe seu email:</label>
                            <input type="email" class="form-control" placeholder="Digite seu e-mail"
                                formControlName="email" />
                            <span class="text-danger" *ngIf="form.email.touched && form.email.invalid">
                                <span *ngIf="form.email.errors.required">
                                    Por favor, informe o seu email.
                                </span>
                                <span *ngIf="form.email.errors.email">
                                    Por favor, informe um endereço de email válido.
                                </span>
                            </span>
                        </div>
                        <div class="d-grid mb-2">
                            <button type="submit" class="btn btn-primary btn-block"
                                [disabled]="!formRecuperarSenha.valid">
                                Confirmar
                            </button>
                        </div>
                        <div class="d-grid mb-2">
                            <a [routerLink]="['/login']" class="btn btn-light">
                                Já possui conta? <strong>Acesse aqui!</strong>
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>